<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesIndividual.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesIndex.css')}}">
    <title>Programa academico</title>
</head>

<div class="header-index">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de la universidad" class="logo-index">
    <h2>Universidad de Cundinamarca</h2>
    <ul class="nav-index">
        <li><a href="/">Inicio</a></li>
        <li><a href="/general">Programas académicos</a></li>
        <li><a href="/admin" data-toggle="modal" data-target="#adminModal">Soy Admin</a></li>
    </ul>
</div>

<body>
    <div class="container">
        <h1>{{ programa[1] }}</h1>
        <div class="programa-info">
            <div class="programa-image">
                <img src="{{ programa[8] }}" alt="{{ programa[1] }}">
            </div>
            <div class="programa-details">
                <h2>Detalles del Programa</h2>
                <p><strong>Título:</strong> {{ programa[2] }}</p>
                <p><strong>Metodología:</strong> {{ programa[3] }}</p>
                <p><strong>Créditos:</strong> {{ programa[4] }}</p>
                <p><strong>Duración:</strong> {{ programa[5] }}</p>
                <p><strong>Misión:</strong> {{ programa[6] }}</p>
                <p><strong>Visión:</strong> {{ programa[7] }}</p>
            </div>
        </div>
    </div>


</body>
<div class="footer-index">
    <p>© Universidad de Cundinamarca 2023. Todos los derechos reservados.</p>
    <p>Información de contacto:</p>
    <p>Teléfono: +57 (1) 234-5678</p>
    <p>Email: info@universidadCundinamarca.edu.co</p>
</div>

</html>